<div class="" id="messageRow" #message></div>

<div class="card text-center recipes-content">
  <div class="card-header flex-column">
    <h1>Spis Przepisów</h1>
    <hr>
    <div class="d-inline-flex recipes-misc-panel justify-content-center">
      <button type="button" class="btn btn-outline-success recipes-add-button" (click)="addHandler(recipeCreateEdit)"
              placement="bottom"  ngbPopover="Dodaj nowy przepis!" [openDelay]="300" [closeDelay]="500"
              triggers="mouseenter:mouseleave">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
      <form class="d-flex input-group search-bar" (ngSubmit)="searchHandler(f)" #f="ngForm">
        <input id="searchRecipe" name="searchRecipe" class="form-control" ngModel type="text" placeholder="Szukaj...">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-success" placement="top"  ngbPopover="Szukaj!"
                  [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
            <fa-icon [icon]="['fas', 'search']"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="card-body recipes-container flex-column" *ngIf="this.currentPageRecipes !== null">
    <div class="d-flex recipe-container justify-content-between" *ngFor="let recipe of currentPageRecipes; let i = index">
      <p class="recipe-name-text">{{recipe.name}}</p>
      <div class="btn-group">
        <button type="button" class="btn btn-outline-success" (click)="editHandler(i, recipeCreateEdit)"
                placement="left"  ngbPopover="Edytuj przepis!"
                [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
          <fa-icon [icon]="['fas', 'edit']"></fa-icon>
          <span>Edytuj</span>
        </button>
        <button type="button" class="btn btn-outline-success" (click)="deleteHandler(i)"
                placement="top"  ngbPopover="Usuń przepis!"
                [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
          <fa-icon [icon]="['fas', 'ban']"></fa-icon>
          <span>Usuń</span>
        </button>
        <button type="button" class="btn btn-outline-success" (click)="previewHandler(i)"
                placement="bottom-right"  ngbPopover="Szczegóły przepisu!"
                [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
          <fa-icon [icon]="['far', 'newspaper']"></fa-icon>
          <span>Widok</span>
        </button>
      </div>
    </div>
    <div *ngIf="appService.recipeList.length === 0">
      <p>Brak przepisów!</p>
    </div>
  </div>

  <div class="card-footer d-inline-flex justify-content-around">
    <button *ngIf="appService.currentRecipesPage > 0" type="button" class="btn btn-outline-success" (click)="previousPage()">
      <fa-icon class="footer-icon" [icon]="['fas', 'chevron-left']"></fa-icon>
      <span>Poprzednia strona</span>
    </button>
    <button *ngIf="appService.currentRecipesPage < appService.recipeListChunked.length - 1" type="button" class="btn btn-outline-success" (click)="nextPage()">
      <span>Następna strona</span>
      <fa-icon class="footer-icon" [icon]="['fas', 'chevron-right']"></fa-icon>
    </button>
  </div>
</div>

<ng-template #recipeCreateEdit let-modal>
  <app-recipe-edit></app-recipe-edit>
</ng-template>
