<div class="modal-header">
  <h2 class="modal-title">{{editMode ? 'Edycja Użytkownika' : 'Tworzenie Użytkownika'}}</h2>
  <button class="button-close-modal" (click)="closeHandler()" type="button" placement="left"
          ngbPopover="Zamknij kartę bez zapisywania zmian!" [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
    <fa-icon [icon]="['fas', 'times']"></fa-icon>
  </button>
</div>

<div class="modal-body">
  <div class="" id="messageRow" #message></div>

  <form #f="ngForm">
    <div class="flex-column create-edit-user">
      <div class="form-group">
        <label for="userName">Nazwa urzytkownika: </label>
        <input required id="userName" name="userName" class="form-control" [ngModel]="user.name" type="text" placeholder="np. John">
      </div>
      <div class="form-group">
        <label for="userPassword">Hasło: </label>
        <input required id="userPassword" name="userPassword" class="form-control" [ngModel]="user.password" type="password" placeholder="**********">
      </div>
      <div class="form-group">
        <label for="userRole">Rola: </label>
        <select required id="userRole" name="userRole" class="form-control" [ngModel]="user.role">
          <option value="USER">USER</option>
          <option value="ADMIN">ADMIN</option>
        </select>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer d-flex justify-content-center">
  <button type="button" class="btn btn-outline-success modal-footer-button" (click)="closeHandler()"
          placement="top" ngbPopover="Wróć do listy z urzytkownikami bez zapisywania zmian!"
          [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
    <fa-icon [icon]="['fas', 'times']"></fa-icon>
    <span>Powrót</span>
  </button>
  <button type="submit" [disabled]="!f.valid" class="btn btn-outline-success modal-footer-button"
          (click)="editMode ? editHandler(f) : saveHandler(f)" placement="top-left"
          ngbPopover="Zapisz zmiany i dodaj przepis do bazy!" [openDelay]="300" [closeDelay]="500"
          triggers="mouseenter:mouseleave">
    <fa-icon [icon]="['fas', 'check']"></fa-icon>
    <span>Zapisz</span>
  </button>
</div>
